<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div>
    <% @events.each do |event| %>
    <h3><%= event.event_title %></h3>
    <h3><%= event.event_time %></h3>
    <h4><%= event.address %></h4>
    <p>
      <%= event.description %>
    </p>
    <% end %>
  </div>
</body>
</html>