<div class="top-header-agile">
		<div class="container">
			<div class="col-md-6 top-header-agile-left">
				<ul>
					<li><i class="fa fa-phone" aria-hidden="true"></i></li>
					<li>(+250)788 419 232</li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i></li>
					<li><a href="mailto:info@example.com">foundationwibabara@yahoo.com</a></li>
				</ul>
			</div>
			<div class="col-md-6 top-header-agile-right">
				<ul>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="banner" id="home">
		<div class="header-bottom">
		     <div class="container">
			  <div class="fixed-header">
			      <!--logo-->
			       <div class="logo">
                      <a href="index.html"><h1>Wibabara</h1></a>
				   </div>
					<!--//logo-->
					<nav class="navbar navbar-default cl-effect-16" id="cl-effect-16">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div id="navbar" class="navbar-collapse navbar-right collapse hover-effect">
							<ul class="nav navbar-nav">
								<li><a class="scroll" href="#home">HOME</a></li>
								<li><a href="#about" class="scroll">ABOUT</a></li>
								<li><a href="#gallery" class="scroll">GALLERY</a></li>
								<li><a href="#team" class="scroll">TEAM</a></li>
								<li ><a class="scroll" href="#contact">CONTACT</a></li>
							</ul>	
						</div>
						</nav>

				 <div class="clearfix"></div>
			 </div>
		</div>
	</div>
		<div class="banner-slider w3layouts">
				<div class="callbacks_container">
					<ul class="rslides" id="slider4">
					    <li>
						   <div class="banner-info">
							      <h3>DON'T BE SAD</h3>
								     <div class="arrows"><img src="http://res.cloudinary.com/nexpals/image/upload/v1516184088/logo-real_yr4rw2.png" alt="border"/></div>
								 <span>TODAY & FOREVER</span>
							  </div>
						</li>
						<!-- <li>
						   <div class="banner-info">
							    <h3>To Travel</h3>
								 <p>IS TO EXPLORE</p>
								     <div class="arrows"><img src="http://res.cloudinary.com/nexpals/image/upload/v1510925466/border_y5qzyk.png" alt="border"/></div>
								  <div class="arrows"><img src="http://res.cloudinary.com/nexpals/image/upload/v1510925664/border_csfjdh.png" alt="border"/></div>
								 <span>ENJOY THE MOMENT</span>
							  </div>
						</li> -->
					</ul>
			  </div>
		<!--banner Slider starts Here-->
	  	<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager:true,
			        nav:false,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
	      <!--banner Slider starts Here-->
		 </div>
	</div>
	<!-- About-->
	<div class="about-w3" id="about">
		<div class="container">
			<div class="col-md-6 about-left-w3l">
				<h2>About</h2>
				<p>WIBABARA Foundation is a local NGO operating in Rwanda since 2010. The founder based on the history of Rwandan Genocide against Tutsi in 1994, and the allocated consequences that include orphans, people living with HIV/AIDS, low income women, and Trauma. Vestine Uwamariya, the Founder, and CEO of WIBABARA Foundation made a research basing on psychological trauma and found it necessary to start an organization that will help those in need. <br>
				The Name  “<mark>WIBABARA</mark>” means “Do not suffer”, and the logo represents a person who is helping his fellow to stand up as a sign of comfort, support, and help.</p>
				<hr>

				<h2>Mission</h2>
				<br>
				<p>WIBABARA Foundation has as mission to assist the government’s effort for helping vulnerable people including; orphans and children disadvantaged, low income women in charge of families, girl sex addicts, people living with HIV/AIDS (PLWHA), psychological traumatized, and underage mothers.</p> <br>

				<h2>Objectives</h2>
				<div class="about-left-wthree">
					<div class="about-left-w3l-sec1">
						<div class="col-md-2 about-left-icon-w3ls">
							<i class="fa fa-envira" aria-hidden="true"></i>
						</div>
						<div class="col-md-10 about-left-text-w3ls">
							<p>Assist victims of violence and abuse on diverse levels (Gender, work, etc.)</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="about-left-w3l-sec2">
						<div class="col-md-2 about-left-icon-w3ls">
							<i class="fa fa-anchor" aria-hidden="true"></i>
						</div>
						<div class="col-md-10 about-left-text-w3ls">
							<p>Promoting human rights, gender equality and fighting against gender based violence (GBV)</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="about-left-w3l-sec3">
						<div class="col-md-2 about-left-icon-w3ls">
							<i class="fa fa-heart" aria-hidden="true"></i>
						</div>
						<div class="col-md-10 about-left-text-w3ls">
							<p>Poverty reduction in women and underage mothers with low income</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 about-right-w3l">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //About-->
	<!--Services-->
	<div class="services-w3-agileits" id="services">
		<div class="container">
			<h3>Services</h3>
			<div class="service-grids-agileits-w3layouts">
				<div class="col-md-3 services-grids-w3-agile sg1">
					<i class="fa fa-heart" aria-hidden="true"></i>
					<h4>Counseling</h4>
					<p>People with psychological trauma are given counselling sections to help them overcome the situation they are going through and identifying the next steps to take so as to move forward.</p>
				</div>
				<div class="col-md-3 services-grids-w3-agile sg2">
					<i class="fa fa-users" aria-hidden="true"></i>
					<h4>Trainings</h4>
					<p>Once in a while, the organization provides trainings to each beneficiaries about hygiene, fighting against HIV, family planning, and proper nutrition.  We also teach different skills to empower women and youth such basketry, hair dressing, and traditional dancing.</p>
				</div>
				<div class="col-md-3 services-grids-w3-agile sg3">
					<i class="fa fa-gift" aria-hidden="true"></i>
					<h4>Material Support</h4>
					<p>WIBABARA Foundation provides school materials to children beneficiaries and small domestic animals to lower income families on a yearly basis.</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//services-->
	
	<!--Gallery-->
	<div class="gallery agileits-w3layouts hidden-xs" id="gallery">
		<div class="container">
			<h3>Gallery</h3>
				<div class="gallery-grids">
					<div class="col-md-6 baner-top">
						<a data-flickr-embed="true"  href="https://www.flickr.com/photos/150277257@N03/38841205095/in/dateposted-public/" title="IMG_0190" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="https://farm5.staticflickr.com/4666/38841205095_4c62474897.jpg" width="459" height="344" alt="IMG_0190">
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>View</h4>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 baner-top">
						<a data-flickr-embed="true"  href="https://www.flickr.com/photos/150277257@N03/25867555118/in/dateposted-public/" title="300520131226" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="https://farm5.staticflickr.com/4650/25867555118_eb7f19f834.jpg" width="459" height="344" alt="300520131226">
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>View</h4>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 baner-top ban-mar">
						<a data-flickr-embed="true"  href="https://www.flickr.com/photos/150277257@N03/25867554798/in/dateposted-public/" title="ma" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="https://farm5.staticflickr.com/4743/25867554798_f15d564e73.jpg" width="570" height="250" alt="ma">
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>View</h4>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-3 baner-top ban-mar">
						<a data-flickr-embed="true"  href="https://www.flickr.com/photos/150277257@N03/38841205455/in/dateposted-public/" title="IMG_0077" lass="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="https://farm5.staticflickr.com/4677/38841205455_0930c954e3.jpg" width="550" height="250" alt="IMG_0077">
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>View</h4>
									</div>
								</div>
							</div>
						</a>
					</div>
					<!-- <div class="col-md-3 baner-top ban-mar">
						<a href="http://res.cloudinary.com/nexpals/image/upload/v1510925959/g5_blzyjs.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="http://res.cloudinary.com/nexpals/image/upload/v1510925959/g5_blzyjs.jpg" alt=" " />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>View</h4>
									</div>
								</div>
							</div>
						</a>
					</div> -->
					<div class="col-md-6 baner-top ban-mar">
						<a href="http://res.cloudinary.com/nexpals/image/upload/v1510926002/g6_igpuaj.jpg" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="https://farm5.staticflickr.com/4699/25867554618_57a5d18f4c_b.jpg" alt=" " width="459" height="250" />
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>View</h4>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 baner-top">
							<a data-flickr-embed="true"  href="https://www.flickr.com/photos/150277257@N03/25867554948/in/dateposted-public/" title="IMG_0188" class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="https://farm5.staticflickr.com/4631/25867554948_b5cc40e689.jpg" width="459" height="333" alt="IMG_0188" >
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>View</h4>	
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 baner-top">
						<a data-flickr-embed="true"  href="https://www.flickr.com/photos/150277257@N03/25867554798/in/dateposted-public/" title="ma"  class="b-link-stripe b-animate-go  swipebox">
							<div class="gal-spin-effect vertical ">
								<img src="https://farm5.staticflickr.com/4743/25867554798_f15d564e73.jpg" width="500" height="333" alt="ma">
								<div class="gal-text-box">
									<div class="info-gal-con">
										<h4>View</h4>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="clearfix"> </div>
					</div>
		</div>
	</div>
	<!-- //gallery -->
	
	<!-- News-->
	<div class="news w3-agile" id="news">
		<div class="container">
			 <h3>OUR EVENTS</h3>
			 <!-- you should put a carsuel here displaying past events -->
			 <div class="news-content-w3layouts">
				<div class="col-md-6 col-sm-6 newsl">
					<h5>Keep in touch with us, and join our upcoming events</h5>
					<a href="#" data-toggle="modal" data-target="#myModal"><img src="https://farm5.staticflickr.com/4666/38841205095_4c62474897.jpg" alt="" class="img-responsive" /></a>
				</div>
				<div class="col-md-6 col-sm-6 newsr">
					<div class="newsrt">
						<%= render "events" %>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--// News -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Upcoming Events!</h4>
				</div>
				<div class="modal-body">
					<p>No listed Events</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!--team-->
	<div class="team wthree" id="team">
		<div class="container">
			<div class="team-main">
				<div class="team-top">
					<h3>Our Team</h3>
				</div>
				<div class="team-bottom">
					<div class="col-md-3 team-grids tg1">
						<!-- <div class="ih-item circle effect5">
							<a href="#">
								<div class="img"><img src="http://res.cloudinary.com/nexpals/image/upload/v1510926251/t1_kqhaud.jpg" alt="img" class="img-responsive"></div>
								<div class="info">
								  <div class="info-back">
									<h3>Kristen</h3>		          
								  </div>			          
								</div>
							</a>
						</div>
						<div class="team-bottom">
							<h4>Travel Advisor</h4>
							<p>On the other hand, we denounce with righteous indignation.</p>
							<ul>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div> -->
					</div>
					<div class="col-md-3 team-grids tg2">
						<div class="ih-item circle effect5">
							<a href="#">
								<div class="img"><img src="http://res.cloudinary.com/nexpals/image/upload/v1513512427/user_male2-512_1_mfdfva.png" alt="img" class="img-responsive"></div>
								<div class="info">
								  <div class="info-back">
									<h3>Redempta Isimbi</h3>		           	            
								  </div>
								</div>
							</a>
						</div>
						<div class="team-bottom">
							<h4>PR Officer</h4>
							<p>Has a Bachelor’s Degree in Business Communications, and experienced in project management</p>
							<ul>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								<li><a href="#" title=""><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
							</ul>
						</div>	 
					</div>
					<div class="col-md-3 team-grids tg3">
						<div class="ih-item circle effect5">
							<a href="#">
								<div class="img"><img src="http://res.cloudinary.com/nexpals/image/upload/v1513512427/user_male2-512_1_mfdfva.png" alt="img" class="img-responsive"></div>
								<div class="info">
								   <div class="info-back">
										<h3>Vestine Uwamahoro</h3>			       
								    </div>
								</div>
							</a>
						</div>
						<div class="team-bottom">
							<h4>Founder & CEO</h4>
							<p>Has a Bachelor’s degree in Sociology | trauma and counselling specialist</p>
						    <ul>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 team-grids">
						<!-- <div class="ih-item circle effect5">
							<a href="#">
								<div class="img"><img src="http://res.cloudinary.com/nexpals/image/upload/v1510926376/t4_lyxlcu.jpg" alt="img" class="img-responsive"></div>
								<div class="info">
								    <div class="info-back">
										<h3>Martina</h3>		           
								    </div>
								</div>
							</a>
						</div>
						<div class="team-bottom">
							<h4>Travel Advisor</h4>
							<p>On the other hand, we denounce with righteous indignation.</p>
							<ul>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
							</ul>
						</div> -->
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--//team-->
	
	<!--contact-->
	<div class="contact" id="contact">
		<div class="container">
			<div class="contact-main">
				<div class="contact-top">
					<h3>Say Hello</h3>
				</div>
				<div class="contact-bottom">
					<div class="col-md-6 contact-left">
						<%= render 'contacts/form' %>
					</div>
					<div class="col-md-6 contact-right">
						<h4>Contact Info</h4>
						<p>Please use below information to say simply hello or anything else you are willing to share with us!</p>
						<ul>
							<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"> </span>Wibabara Foundation located at Kicukiro-Nyarugunga</li>
							<li><span class="glyphicon glyphicon-phone" aria-hidden="true"> </span>(+250) 788 419 232</li>			    	
							<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"> </span><a href="mailto:info@example.com">foundationwibabara@yahoo.com</a></li>
						</ul>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--//contact-->
	
	<!--map-->
	<div class="map">
		<iframe width="600" height="450" frameborder="0" style="border:0"
		src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJmdvYyC-m3BkRzxZnAxCUePg&key=AIzaSyArbSNZq5eRFG_1M9pl4WTHPAGMpb7fUq8" style="border:0" allowfullscreen></iframe> 
	</div>
	<!--//map-->
	
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="col-md-4 ftr-grid">
					<h4>Direct Line</h4>
					<span class="ftr-line"> </span>
					<p>foundationwibabara@yahoo.com</p>
					<p>(+250) 788 419 232</p>
				</div>
				<div class="col-md-4 ftr-grid ftr-mid social-media">
					 <h4>Social Media</h4>
					 <span class="ftr-line flm"> </span>
					   <ul>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						</ul>
				</div>
				<div class="col-md-4 ftr-grid ftr-rit">
					 <h4>Address</h4>
					 <span class="ftr-line flr"> </span>
					 <p>Wibabara Foundation</p>
					 <p> in Kicukiro - Nyarugunga</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//footer-->
	
	<div class="copy-agileinfo">
		<div class="container">
			<p>&copy; <%= Time.now.year %> WIBABARA. All Rights Reserved | Design by <a href="http://nexpals.com/" style="color: #DAA520;" target="_blank">Nexpals Ltd</a></p>
		</div>
	</div>
	<script type="text/javascript">   
      // Select all links with hashes
      $('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
      ) {
      // Figure out element to scroll to
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1200, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });

	</script>